{:company/legal-name "Electricité de France SA"
 :company/lei "549300X3UK4GG3FNMO06"
 :company/jurisdiction "FR"
 :company/website "https://www.edf.fr"
 :company/ticker "(state-owned; renationalised/delisted 2023)"}
