[["edf-tos-1" :tos/full-text "Mentions légales | Groupe EDF 
 Contenu 
 Haut de page 
 Menu principal 
 Menu principal 
 Footer 
 Groupe 
 Vous êtes 
 Investisseurs
 Journalistes
 Candidats
 Fournisseurs
 Autres
 Aide & Contact 
 fr 
 English - en 
 Mon espace client 
 Espace client Particulier
 Espace client Entreprise
 Espace client Collectivité
 Espace Candidat
 Menu 
 Groupe 
 Fermer 
 Menu 
 Vous êtes 
 Aide & Contact 
 EDF près de chez moi
 Particuliers
 Entreprises
 Collectivités
 EDF recrute
 Groupe EDF
 fr 
 English - en 
 Investisseurs
 Journalistes
 Candidats
 Fournisseurs
 Autres
 Particuliers
 Entreprises
 Collectivités
 EDF recrute
 Groupe EDF
 fr 
 English - en 
 EDF près de chez moi
 Mentions légales 
 INFORMATIONS LÉGALES 
 Le portail du groupe EDF est la propriété d’Electricité de France, Société Anonyme : 
 au capital social de 2 084 365 041 euros 
 immatriculée au Registre du Commerce et des Sociétés de Paris, sous le numéro 552 081 317 
 TVA intracommunautaire : VAT EU FR 03552081317 
 et dont le siège social est situé : 
 22-30, avenue de Wagram  75008 Paris    
 Le directeur de publication du portail du groupe EDF est Monsieur Benoît Gausseron, directeur de la Communication du groupe EDF. 
 Le dispositif Internet du groupe EDF a été conçu par la société Publicis Sapient, située : 94 Avenue Gambetta, 75020 Paris.  Le portail du groupe EDF est hébergé sur les matériels informatiques de la société EDF - DSP, 32 avenue Pablo Picasso, 92000 Nanterre. 
 CONDITIONS GÉNÉRALES D'UTILISATION 
 L'utilisateur reconnaît avoir pris connaissance des présentes conditions générales d'utilisation et s'engage à les respecter. EDF se réserve le droit de modifier la présente notice à tout moment. L'utilisateur s'engage donc à la consulter régulièrement. 
 Dans l'hypothèse où vous accéderiez au portail du groupe EDF à partir d'un autre Etat que la France, vous vous engagez à vous assurer également du respect de la législation localement applicable. 
 CONTENU DU PORTAIL 
 Le portail du groupe EDF est un site donnant accès à d'autres sites d'EDF ou de sociétés du groupe EDF, susceptibles de disposer de leurs propres notices légales, qu'il convient de consulter et de respecter. Les sociétés du groupe EDF ont leur propre existence légale et disposent d'une personnalité juridique autonome.  Les informations fournies sur le portail du groupe EDF le sont à titre informatif et indicatif. EDF ne saurait garantir l'exactitude, la complétude, l'actualité des informations diffusées sur le site. Elles ne sauraient dispenser l'utilisateur d'une analyse complémentaire et adaptée. EDF ne saurait donc être tenu responsable des erreurs ou omissions, d'une absence de disponibilité des informations et des services. 
 En conséquence, l'utilisateur reconnaît utiliser ces informations sous sa responsabilité exclusive. EDF ne saurait être tenu pour responsable des dommages directs ou indirects qui pourraient résulter de l'accès ou de l'utilisation du portail du groupe EDF, y compris l'inaccessibilité, les pertes de données, et/ou la présence de virus sur le site, sans que cette liste soit exhaustive. 
 DÉLÉGUÉ À LA PROTECTION DES DONNÉES (DPO) 
 EDF a nommé un Délégué à la protection des données (DPO) chargé de veiller à la protection des données à caractère personnel et au respect de la loi dans l'entreprise. Vous pouvez le contacter pour toute information ou pour l’exercice de vos droits à l’adresse suivante : 
 EDF  Délégué à la protection des données  Tour EDF - 20 place de la Défense  92050 Paris La Défense Cedex 
 ou par courriel à informatique-et-libertes@edf.fr 
 Vous pouvez enfin saisir la Commission  Nationale Informatique et Libertés (CNIL). 
 TÉMOINS DE CONNEXION (COOKIES) 
 Lors de vos visites, vous êtes informé qu'un témoin de connexion peut s'installer automatiquement sur votre logiciel de navigation. Il s'agit d'un bloc de données qui n'est pas utilisé à des fins d'identification mais qui sert à enregistrer des informations relatives à votre navigation sur le site. Il permet des analyses de fréquentation, mesures d'audience... afin d'améliorer la qualité du site. 
 Voir notice «  témoins de connexion » ou «  COOKIES ». 
 PROPRIÉTÉ INTELLECTUELLE 
 Les marques et les logos (marques semi-figuratives) d’EDF et des sociétés du groupe EDF figurant sur les sites sont des marques déposées. Toute reproduction ou représentation totale ou partielle, seules ou intégrées à d'autres éléments, sans l'autorisation écrite, expresse et préalable d’EDF ou des sociétés du groupe EDF concernées, en est strictement interdite. La structure générale, les logiciels, textes, images, vidéos, sons, savoir-faire, animations, et plus généralement toutes les informations et contenus figurant dans le portail du groupe EDF, sont la propriété d'EDF ou font l'objet d'un droit d'utilisation ou d'exploitation. Ces éléments sont soumis à la législation protégeant le droit d'auteur. 
 Toute représentation, modification, reproduction, dénaturation, totale ou partielle, de tout ou partie du site ou de son contenu, par quelque procédé que ce soit, et sur quelque support que ce soit constituerait une contrefaçon sanctionnée par les articles L 335-2 et suivants du Code de la Propriété Intellectuelle. 
 Les bases de données figurant, le cas échéant, sur le portail du groupe EDF sont protégées par les dispositions de la loi du 1er juillet 1998 transposant dans le Code de la Propriété Intellectuelle la Directive Européenne du 11 mars 1996 relative à la protection juridique des bases de données. A ce titre, EDF interdit expressément toute réutilisation, reproduction ou extraction d’éléments de ces bases de données. La réutilisation, reproduction ou extraction non autorisée engage la responsabilité de l’utilisateur. 
 EDF se réserve la faculté de supprimer sans délais, et sans mise en demeure préalable, tout contenu : message, texte, image, graphique qui contreviendrait aux lois et règlements en vigueur et notamment les réglementations précisées ci-dessus. 
 Dans l'hypothèse où vous souhaiteriez utiliser un des contenus du site (texte, image…), vous devez obtenir l'autorisation écrite, expresse et préalable d'EDF, en écrivant à l'adresse indiquée dans le § «informations légales » ou en envoyant un courriel au webmestre. 
 CREDITS 
 Liste des photographes et agences ayant produit les images utilisées sur nos sites web. 
 LIENS 
 Les liens mis en place sur le portail du groupe EDF en direction de sites Internet externes ont fait l'objet d'une autorisation préalable et expresse. 
 Toutefois, EDF n'étant pas l'éditeur de ces sites, il ne peut en contrôler le contenu. En conséquence, EDF ne pourra en aucun cas être tenu pour responsable du contenu des sites ainsi accessibles, ou des éventuelles collectes et transmission de données personnelles, installation de témoins de connexion ou tout autre procédé tendant aux mêmes fins, effectués par ces sites. 
 Vous ne pouvez pas mettre en place un lien hypertexte en direction du portail du groupe EDF sans l'autorisation écrite, expresse et préalable d'EDF. Les demandes doivent être adressées au directeur de publication du portail du groupe EDF. 
 GESTION DES CODES D'ACCÈS ET MOT DE PASSE 
 Certains services interactifs présents sur le portail du groupe EDF nécessitent un code d'accès et un mot de passe qui sont fournis par les gestionnaires de ces services. Ces codes d'accès et mots de passe sont confidentiels, personnels, incessibles et intransmissibles. Vous êtes responsable de leur gestion, conservation et des conséquences de leur utilisation. Il vous appartient de prendre les dispositions nécessaires à leur protection et à leur conservation. EDF ne pourra en aucun cas être tenu pour responsable de toute utilisation frauduleuse. 
 Pour des raisons de sécurité, l'accès aux rubriques sécurisées sera automatiquement invalidé à l'issue de plusieurs tentatives d'accès erronées. EDF se réserve le droit de suspendre l'accès au site en cas d'utilisation frauduleuse ou de tentative d'utilisation frauduleuse du mot de passe ou du code d'accès d'un utilisateur. En cas de suspension de l'accès, EDF vous en informera. 
 DROIT APPLICABLE 
 Le droit applicable au portail du groupe EDF est le droit français. La majorité des contenus et services en ligne sur le portail du groupe EDF sont proposés en français et en anglais. En cas de litige, c’est la langue française qui fera foi. 
 Voir le fil d'ariane
 Vous êtes ici :
 Mentions légales 
 Haut de page
 Groupe 
 Je déménage 
 Faire des économies d’énergie 
 Décarboner vos territoires 
 Nos offres d’énergie entreprises 
 Contacts 
 EDF en bref 
 Notre mix électrique 
 Nos résultats financiers 
 Nous rejoindre 
 Nos labels 
 EDF Particuliers
 EDF Entreprises
 EDF Collectivités
 EDF Recrute
 Groupe EDF
 linkedin 
 twitter 
 instagram 
 youtube 
 tiktok 
 Plan du site 
 Origine de l'électricité 
 Mentions légales 
 Données personnelles 
 Accessibilité : partiellement conforme (90%) 
 Cookies 
 ©2026
 EDF
 -
 L'énergie est notre avenir, économisons-la !" 1 :add]
 ["edf-tos-1" :tos/source-url "https://www.edf.fr/mentions-legales" 1 :add]
 ["edf-tos-1" :tos/retrieved-at "2026-07-19T08:36:33Z" 1 :add]
 ["edf-tos-1" :tos/sha256 "8c4c08a09778022cc2297f9c4c65f412bf1b73a516dddba7944907ff65559d37" 1 :add]
 ["edf-tos-1" :tos/doc-type :legal-notice 1 :add]]
